<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header style="text-align: center; font-size: 2rem;" >Single book details</header>
  <main>
    <h1 style="text-align: center;">Title: <%= book.title%></h1>
    <h2 style="text-align: center;">Pages: <%= book.pages%></h2>
    <h3 style="text-align: center;">Author:  <%= book.name%></h3>
    <h3 style="text-align: center;">Email:  <%= book.email%></h3>\
    <p><%= book.cover %></p>
    <% book.category.forEach(c =>{ %>
      <div style="color: rgb(185, 69, 69);">Categories:<%= c %></div>
    <% }) %>

    <nav>
      
      <a href="/books">
        <button>
          All books
        </button>
      </a>
      <a href="/">
        <button>Home Page</button>
      </a>
      <a href="/books/new">
        <button>Create book</button>
      </a>
    </nav>
  </main>
</body>
</html>